{% extends "./base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Restaurant Management</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <ul class="nav nav-pills flex-nowrap mb-3" id="pills-tab" role="tablist">
                                        <li class="nav-item m-0" role="presentation">
                                            <button class="nav-link active" id="pills-home-tab"
                                                data-bs-toggle="pill" data-bs-target="#pills-home"
                                                type="button">Profile</button>
                                        </li>
                                        <!-- <li class="nav-item m-0" role="presentation">
                                            <button class="nav-link" id="pills-profile-tab"
                                                data-bs-toggle="pill" data-bs-target="#pills-profile"
                                                type="button">Settings</button>
                                        </li> -->
                                        <li class="nav-item m-0" role="presentation">
                                            <button class="nav-link" id="pills-menu-tab"
                                                data-bs-toggle="pill" data-bs-target="#pills-menu"
                                                type="button">Food Items</button>
                                        </li>
                                    </ul>
                                </div>
                                <!-- settings -->
                                <div class="col-12">
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel">
                                            <div class="input-items">
                                                <div class="row gy-3">


                                                    <form method="post" enctype="multipart/form-data">
                                                        <div class="row gy-3">
                                                            {% csrf_token %}
    
                                                                {% for field in form %}
                                                                <div class="col-12 gy-3">
                                                                    <div class="input-box">
                                                                        <h6>{{ field.label }}</h6>
                                                                        <span>{{ field }}</span>
                                                                        {% if field.name == 'point' %}
                                                                            <div id="suggestions">
                                                                            </div>
                                                                        {% endif %}
                                                                        {% if field.errors %}
                                                                        <div class="text-danger">
                                                                            {% for error in field.errors %}
                                                                                <div>{{ error }}</div>
                                                                            {% endfor %}
                                                                        </div>
                                                                    {% endif %}
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                            <div class="col-12">
                                                                <button type="submit" class="btn restaurant-button">Save</a>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="pills-profile" role="tabpanel">
                                            <div class="card-header-1">
                                                <h5 class="mb-2">Product Related Permition</h5>
                                            </div>
                                            <div class="input-items">
                                                <div class="row gy-3 mb-4">
                                                    <div class="col-md-6">
                                                        <div class="input-box">
                                                            <h6>Add Product</h6>
                                                            <div>
                                                                <form class="radio-section">
                                                                    <label>
                                                                        <input type="radio" name="opinion" checked>
                                                                        <i></i>
                                                                        <span>Allow</span>
                                                                    </label>
    
                                                                    <label>
                                                                        <input type="radio" name="opinion" />
                                                                        <i></i>
                                                                        <span>Deny</span>
                                                                    </label>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-box">
                                                            <h6>Update Product</h6>
                                                            <div>
                                                                <form class="radio-section">
                                                                    <label>
                                                                        <input type="radio" name="opinion" >
                                                                        <i></i>
                                                                        <span>Allow</span>
                                                                    </label>
    
                                                                    <label>
                                                                        <input type="radio" name="opinion" checked/>
                                                                        <i></i>
                                                                        <span>Deny</span>
                                                                    </label>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-box">
                                                            <h6>Delete Product</h6>
                                                            <div>
                                                                <form class="radio-section">
                                                                    <label>
                                                                        <input type="radio" name="opinion" >
                                                                        <i></i>
                                                                        <span>Allow</span>
                                                                    </label>
    
                                                                    <label>
                                                                        <input type="radio" name="opinion" checked>
                                                                        <i></i>
                                                                        <span>Deny</span>
                                                                    </label>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-box">
                                                            <h6>Apply Discount</h6>
                                                            <div>
                                                                <form class="radio-section">
                                                                    <label>
                                                                        <input type="radio" name="opinion" checked>
                                                                        <i></i>
                                                                        <span>Allow</span>
                                                                    </label>
    
                                                                    <label>
                                                                        <input type="radio" name="opinion" />
                                                                        <i></i>
                                                                        <span>Deny</span>
                                                                    </label>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-header-1">
                                                <h5 class="my-2">Category Related Permition</h5>
                                            </div>
                                            <div class="input-items">
                                                <div class="row gy-3">
                                                    <div class="col-md-6">
                                                        <div class="input-box">
                                                            <h6>Add Product</h6>
                                                            <div>
                                                                <form class="radio-section">
                                                                    <label>
                                                                        <input type="radio" name="opinion" checked>
                                                                        <i></i>
                                                                        <span>Allow</span>
                                                                    </label>
    
                                                                    <label>
                                                                        <input type="radio" name="opinion" />
                                                                        <i></i>
                                                                        <span>Deny</span>
                                                                    </label>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-box">
                                                            <h6>Update Product</h6>
                                                            <div>
                                                                <form class="radio-section">
                                                                    <label>
                                                                        <input type="radio" name="opinion" >
                                                                        <i></i>
                                                                        <span>Allow</span>
                                                                    </label>
    
                                                                    <label>
                                                                        <input type="radio" name="opinion" checked/>
                                                                        <i></i>
                                                                        <span>Deny</span>
                                                                    </label>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-box">
                                                            <h6>Delete Product</h6>
                                                            <div>
                                                                <form class="radio-section">
                                                                    <label>
                                                                        <input type="radio" name="opinion" >
                                                                        <i></i>
                                                                        <span>Allow</span>
                                                                    </label>
    
                                                                    <label>
                                                                        <input type="radio" name="opinion" checked>
                                                                        <i></i>
                                                                        <span>Deny</span>
                                                                    </label>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-box">
                                                            <h6>Apply Discount</h6>
                                                            <div>
                                                                <form class="radio-section">
                                                                    <label>
                                                                        <input type="radio" name="opinion" checked>
                                                                        <i></i>
                                                                        <span>Allow</span>
                                                                    </label>
    
                                                                    <label>
                                                                        <input type="radio" name="opinion" />
                                                                        <i></i>
                                                                        <span>Deny</span>
                                                                    </label>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end of settings -->
                                 <!-- Menu section -->
                                <div class="col-12">
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade show" id="pills-menu" role="tabpanel">

                                            <!-- Each Menu start -->
                                            <div class="card-header-1">
                                                <h5 class="mb-2">Food Items</h5>
                                            </div>
                                            <div class="input-items">
                                                <div class="row gy-3 mb-4">
                                                    <!-- food items table here -->
                                                    <form class="d-inline-flex flex-row-reverse">
                                                        <a href="{% url 'food_items-add'%}" class="align-items-center btn btn-theme d-flex">
                                                            <i data-feather="plus-square"></i>Add New
                                                        </a>
                                                    </form>

                                                    <table class="table category-table dataTable no-footer" id="table_id">
                                                        <thead>
                                                          <tr>
                                                            <th>No</th>
                                                            <th>Id</th>
                                                            <th>Food</th>
                                                            <th>Price</th>
                                                            <th>Category</th>
                                                            <th>Menu</th>
                                                            <th>Option</th>
                                                          </tr>
                                                        </thead>
                                        
                                                        <tbody>

                                                            {% if not food_items %}
                                                            <tr>
                                                                <td colspan="7" class="f-w-600">No Food Items</td>
                                                            </tr>
                                                            {% endif %}

                                                          {% for food_item in food_items %}
                                                          
                                                          <tr>
                                                            <td>{{ forloop.counter }}</td>
                                                            <td>{{ food_item.id }}</td>

                                                            <td class="f-w-600">{{ food_item.name }}</td>
                                                            <td>{{food_item.food_category.price}}</td>
                                                            <td>{{food_item.food_category.name}}</td>

                                                            <td>
                                                              <div class="user-name">
                                                                <span>{{ food_item.menu_category }}</span>
                                                              </div>
                                                            </td>
                                       
                                                            <td>
                                                              <ul>
                                       
                                                                <li>
                                                                  <a href="{% url 'food_items-edit' food_item.id %}">
                                                                    <i class="ri-pencil-line"></i>
                                                                  </a>
                                                                </li>
                                        
                                                                <li>
                                                                  <a href="{% url 'food_items-delete' food_item.id %}" onclick="return confirm('Are you sure you want to delete this user?');">
                                                                    <i class="ri-delete-bin-line"></i>
                                                                  </a>
                                                                </li>
                                                              </ul>
                                                            </td>
                                                          </tr>
                                                          {% endfor %}
                                                        </tbody>
                                                      </table>
                                                     <!-- end of food items tabel -->

                                                </div>
                                            </div>
                                            <!-- Each menu end -->
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const searchInput = document.getElementById("id_point");
    const suggestionsBox = document.getElementById("suggestions");
    let debounceTimeout;

    searchInput.addEventListener("input", () => {
      clearTimeout(debounceTimeout);
      const query = searchInput.value.trim();
      if (query.length < 3) {
        suggestionsBox.innerHTML = "";
        return;
      }

      debounceTimeout = setTimeout(() => {
        fetchSuggestions(query);
      }, 300);
    });

    async function fetchSuggestions(query) {
      const url = `https://nominatim.openstreetmap.org/search?format=json&q=${encodeURIComponent(query)}`;
      try {
        const response = await fetch(url);
        const data = await response.json();

        suggestionsBox.innerHTML = "";
        data.forEach(place => {
          const div = document.createElement("div");
          div.className = "suggestion-item";
          div.textContent = place.display_name;
          div.onclick = () => {
            searchInput.value = place.display_name;
            suggestionsBox.innerHTML = "";
            showLocationDetails(place);
          };
          suggestionsBox.appendChild(div);
        });
      } catch (error) {
        console.error("Error fetching suggestions:", error);
      }
    }

    function showLocationDetails(place) {
      lat = place.lat
      lon = place.lon
      searchInput.value = `${lon},${lat}`;
      console.log("Check");
      
      console.log(searchInput.value);
      
      document.getElementById("address").textContent = place.display_name;
    }

    // Optional: hide suggestions if clicking outside
    document.addEventListener("click", (e) => {
      if (!searchInput.contains(e.target) && !suggestionsBox.contains(e.target)) {
        suggestionsBox.innerHTML = "";
      }
    });
  </script>
{%endblock%}