{% extends "./base.html" %}
{% load static %}
{% block content %}

    <!-- page head section starts -->
     {% include "./profile-head.html" %}
    <!-- page head section end -->

    <!-- profile section starts -->
    <section class="profile-section section-b-space">
        <div class="container">
            <div class="row g-3">
                <div class="col-lg-3">
                    {% include "./profile-sidebar.html" %}
                </div>
                <div class="col-lg-9">
                    <div class="change-profile-content">
                        {% if messages %}
                        <ul class="messages d-flex align-items-center" id="error-message">
                          {% for message in messages %}
                            <li class="d-flex align-items-center">
                              <h4 class="text-{{ message.tags }} m-0">{{ message }}</h4>
                              <i class="fa-solid fa-x ps-2 close-icon" style="color: #f42a2a; cursor: pointer;"></i>
                            </li>
                          {% endfor %}
                        </ul>
                        {% endif %}
                        <div class="title">
                            <div class="loader-line"></div>
                            <h3>Change Profile</h3>
                        </div>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <ul class="profile-details-list">
                                <li>
                                    <div class="profile-content">
                                        <div class="d-flex align-items-center gap-sm-2 gap-1">
                                            <i class="ri-user-3-fill"></i>
                                            <span>Profile Image :</span>
                                        </div>
                                        <h6><input type="file" name="profile_pic"></h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="profile-content">
                                        <div class="d-flex align-items-center gap-sm-2 gap-1">
                                            <i class="ri-user-3-fill"></i>
                                            <span>Name :</span>
                                        </div>
                                        <h6><input type="text" name="username" placeholder="Enter username" value="{{user_form.username.value}}"></h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="profile-content">
                                        <div class="d-flex align-items-center gap-sm-2 gap-1">
                                            <i class="ri-mail-fill"></i>
                                            <span>Email :</span>
                                        </div>
                                        <h6><input type="email" name="email" placeholder="Enter Email" value="{{user_form.email.value}}" disabled></h6>
                                        <div class="text-danger">{{ user_form.email.errors }}</div>
                                    </div>
                                    <a href="#email" class="btn theme-outline" data-bs-toggle="modal">Change</a>

                                </li>
                                <li>
                                    <!-- TODO add phone number -->
                                    <div class="profile-content">
                                        <div class="d-flex align-items-center gap-sm-2 gap-1">
                                            <i class="ri-phone-fill"></i>
                                            <span>Phone Number :</span>
                                        </div>
                                        <h6><input type="text" name="phone" placeholder="Enter Phone" value="{{user_form.phone.value|default:''}}"></h6>
                                        <div class="text-danger">{{ user_form.phone.errors }}</div>
                                    </div>
                                </li>  


                                <li>
                                    <div class="profile-content">
                                        <div class="d-flex align-items-center gap-sm-2 gap-1">
                                            <i class="ri-lock-2-fill"></i>
                                            <span>Password :</span>
                                        </div>
                                        <h6>********</h6>
                                    </div>
                                    <a href="#password" class="btn theme-outline mt-0" data-bs-toggle="modal">Change</a>
                                </li>




                                <input type="submit" value="submit" class="btn theme-outline mt-0">
                            </ul>
                    </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- profile section end -->

    <!-- edit email modal starts -->
    <div class="modal profile-modal fade" id="email" aria-hidden="true" aria-labelledby="exampleModalToggleEmail"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalToggleEmail">Email</h1>
                </div>
                <form method="post" action="{%url 'request_email_change' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputEmail" class="form-label">New Email</label>
                        <input name="new_email" type="email" class="form-control" 
                            placeholder="Enter your new email">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn theme-btn" data-bs-dismiss="modal">Save</a>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- edit email modal end -->


{% endblock content %}