{% extends "./base.html" %}
{% load custom_tags %}
{% load static %}
{% block content %}

<!-- banner section starts -->
    <section class="product-banner-section">
        <div class="container">
            <div class="restaurant-box">
                <div class="restaurant-image">
                    <img class="img-fluid img" src="{{restaurant.restaurant_image.url}}" alt="brand13">
                </div>
                <div class="restaurant-details">
                    <div class="d-flex align-items-center justify-content-between flex-wrap gap-3">
                        <div>
                            <h2 class="restaurant-name">
                                {{restaurant.restaurant_name}}
                            </h2>
                            <h4 class="restaurant-place">{{restaurant.address}}</h4>
                        </div>
                        <div class="restaurant-description">
                            <div class="categories-icon">
                                <a href="#!" id="liveToastBtn">
                                    <i class="ri-share-line icon text-white"></i>
                                </a>
                                <a href="#!" class="like-btn animate inactive">
                                    <i class="ri-heart-3-fill fill-icon"></i>
                                    <i class="ri-heart-3-line text-white outline-icon"></i>
                                    <div class="effect-group">
                                        <span class="effect"></span>
                                        <span class="effect"></span>
                                        <span class="effect"></span>
                                        <span class="effect"></span>
                                        <span class="effect"></span>
                                    </div>
                                </a>
                            </div>
                            <div class="distance d-flex align-items-center">
                                <h4 class="text-white shop-time">{{restaurant.location}}</h4>
                                <h4 class="rating-star">
                                    <span class="star"><i class="ri-star-s-fill"></i></span>{{rating}}
                                    ({{reviews}}+ Reviews)
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner section end -->


    <!-- tab section starts -->
    <section class="tab-details-section section-b-space">
        <div class="container">
            <div class="category-detail-tab">
                <div class="row g-4 d-flex justify-content-center">
                    <div class="col-lg-10">
                        <div class="menu-button d-inline-block d-lg-none">
                            <a href="#!"><i class="ri-book-open-line"></i> Menu</a>
                        </div>
                        <ul class="nav nav-tabs tab-style1" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="order-tab" data-bs-toggle="tab"
                                    data-bs-target="#online" type="button" role="tab">
                                    View Menu
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="overview-tab" data-bs-toggle="tab"
                                    data-bs-target="#overview" type="button" role="tab">
                                    Contact
                                </button>
                            </li>
                            <!-- <li class="nav-item" role="presentation">
                                <button class="nav-link" id="items-tab" data-bs-toggle="tab" data-bs-target="#photo"
                                    type="button" role="tab">
                                    Photos
                                </button>
                            </li> -->
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="activity-tab" data-bs-toggle="tab" data-bs-target="#review"
                                    type="button" role="tab">
                                    Reviews
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content product-details-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="online" role="tabpanel" tabindex="0">


                                <!-- body here -->
                                    <div class="col-12-">
                                        <div class="product-box-section section-b-space">

                                            <!-- Menu body -->


    <!-- <div class="month-selector">
      <button class="month-btn active" data-month="april">April</button>
      <button class="month-btn" data-month="may">May</button>
      <button class="month-btn" data-month="june">June</button>
    </div> -->

    <div class="menu-selector">
    {%for menu in menu_data%}
      <button class="menu-btn {%if forloop.first%} active {%endif%}" data-menu="{{menu.menu_category|slugify}}">{{menu.menu_category}}</button>
    {%endfor%}
    </div>

    
    
    
    
    {%for menu in menu_data%}
      <div class="menu-content {%if forloop.first%} active {%endif%}" id="menu-{{menu.menu_category|slugify}}">
        <div class="notes">
          <h3>Information</h3>
          <h6>Price Information: </h6>

          <div class="price-info ps-4 py-2">
              <!-- TODO make this dynamic ( category names)  -->
              <p>Total Per Day: ₹{{ menu.total_price }} </p>
              {% for category,price in menu.category_prices.items %}
              <p>{{category}}: ₹{{price}}</p>
              {%endfor%}

            
          </div>
          <h6>Delivery/Dine-in Information: </h6>
          <div class="time-info ps-4 py-2">
            {%for category,value in menu.start_end_time.items%}
            {%if value.start_time or value.end_time %}
            <p>{{category}}- {{value.start_time}}-{{value.end_time}}</p>
            {%endif%}
            {%endfor%}
          </div>

          <h6>Cancellation Information: </h6>

          <div class="cancel-info ps-4 py-2">
            {%for category,value in menu.start_end_time.items%}
            {%if value.cancellation_time %}
            <p>Cancellation Time: {{category}}- {{value.cancellation_time}}</p>
            {%endif%}
            {%endfor%}

          </div>





          <h6>Other Informations: </h6>

          <div class="other-info ps-4 py-2">

            <p>{{menu.menu_description}}</p>

            <p>Our menu features a variety of options to accommodate different dietary needs. Look for the indicators next to each item.</p>
            <div class="legend">
              <div class="legend-item">
                <span class="legend-color" style="background-color: var(--success);"></span>
                <span>Vegetarian</span>
              </div>
              <div class="legend-item">
                <span class="legend-color" style="background-color: var(--info);"></span>
                <span>Vegan</span>
              </div>
              <div class="legend-item">
                <span class="legend-color" style="background-color: var(--warning);"></span>
                <span>Gluten-Free</span>
              </div>
            </div>


            <!-- subscribe button start -->
        <div class="menu-selector">
          <!-- <button class="subscribe-btn">Subscribe</button> -->
          <a href="{% url 'subscription-request' menu.menu_id  %}" class="subscribe-btn">Subscribe</a>
        </div>
        <!-- subscribe button end -->
          </div>


        </div>
        
        <div class="calendar">
          <!-- Monday -->
          {% for day, meals in menu.weekly_menu.items %}
          
          <div class="day-card">
            <div class="day-header">
                {{ day }}
            </div>


            <div class="meal-container">
              {%for category,meal in meals.items%}
                <div class="meal">
                  <div class="meal-header">
                    <div class="meal-title">
                      <span class="meal-icon"></span>{{category}}
                    </div>
                  </div>
                  <div class="meal-items">
                    {% for each_meal in meal %}
                      <div class="meal-item">{{each_meal}}</div>
                    {%endfor%}
                  </div>
                </div>
                {%endfor%}
              </div>
          </div>
           {% endfor %}

        </div>
      </div>
    {%endfor%}

























                                        </div>
                                    </div>





 

                            </div>
                            <div class="tab-pane fade" id="overview" role="tabpanel" tabindex="0">
                                <div class="overview-section">
                                    <div class="row g-3">
                                        <div class="col-md-6 col-12">
                                            <div class="overview-content mt-0">
                                                <h6 class="overview-heading">Phone Number</h6>
                                                <ul class="content-list">
                                                    <li>{{restaurant.contact_number}}</li>
                                                </ul>
                                            </div>
                                            <div class="overview-content">
                                                <h6 class="overview-heading">Email</h6>
                                                <ul class="content-list w-grid">
                                                    <li>{{restaurant.email}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="overview-content mt-0">
                                                <h6 class="overview-heading">Address</h6>
                                                <ul class="content-list">
                                                    <li class="content-address">
                                                      {{restaurant.address}}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="photo" role="tabpanel" tabindex="0">
                                <div class="photos-section ratio_landscape">
                                    <ul class="photos-list">
                                        <li>
                                            <a href="assets/images/service/6.jpg" data-fancybox="images"
                                                data-type="image">
                                                <img class="img-fluid bg-img" src="assets/images/service/6.jpg" alt="6">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="assets/images/service/7.jpg" data-fancybox="images"
                                                data-type="image">
                                                <img class="img-fluid bg-img" src="assets/images/service/7.jpg" alt="7">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="assets/images/service/8.jpg" data-fancybox="images"
                                                data-type="image">
                                                <img class="img-fluid bg-img" src="assets/images/service/8.jpg" alt="8">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="assets/images/service/9.jpg" data-fancybox="images"
                                                data-type="image">
                                                <img class="img-fluid bg-img" src="assets/images/service/9.jpg" alt="9">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="assets/images/service/10.jpg" data-fancybox="images"
                                                data-type="image">
                                                <img class="img-fluid bg-img" src="assets/images/service/10.jpg"
                                                    alt="10">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="assets/images/service/11.jpg" data-fancybox="images"
                                                data-type="image">
                                                <img class="img-fluid bg-img" src="assets/images/service/11.jpg"
                                                    alt="11">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="assets/images/service/12.jpg" data-fancybox="images"
                                                data-type="image">
                                                <img class="img-fluid bg-img" src="assets/images/service/12.jpg"
                                                    alt="12">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="assets/images/service/13.jpg" data-fancybox="images"
                                                data-type="image">
                                                <img class="img-fluid bg-img" src="assets/images/service/13.jpg"
                                                    alt="13">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="review" role="tabpanel" tabindex="0">
                                <div class="review-section">
                                    <ul class="review-box-list">
                                        <li>
                                            <div class="review-box">
                                                <div class="review-head">
                                                    <div class="review-image">
                                                        <img class="img-fluid img" src="assets/images/icons/p1.png"
                                                            alt="p1">
                                                    </div>
                                                    <div
                                                        class="d-flex align-sm-items-center justify-content-between w-100">
                                                        <div>
                                                            <h6 class="reviewer-name">Gunjan Puri</h6>
                                                            <ul class="rating-star">
                                                                <li>
                                                                    <i class="ri-star-fill star"></i>
                                                                </li>
                                                                <li>
                                                                    <i class="ri-star-fill star"></i>
                                                                </li>
                                                                <li>
                                                                    <i class="ri-star-fill star"></i>
                                                                </li>
                                                                <li>
                                                                    <i class="ri-star-fill star"></i>
                                                                </li>
                                                                <li>
                                                                    <i class="ri-star-fill star"></i>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div>
                                                            <h6>1 month ago</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="review-content">
                                                    <h6>Wonderful Experience...!!</h6>
                                                    <p>
                                                        Serve a healthy and good food. Having a parking
                                                        facility and there are also waiting area
                                                        available. These place is perfect for Celebration
                                                        of birthday. Serve a healthy and good food. Having
                                                        a parking facility and there are also waiting area
                                                        available.
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="review-box">
                                                <div class="review-head">
                                                    <div class="review-image">
                                                        <img class="img-fluid img" src="assets/images/icons/p2.png"
                                                            alt="p2">
                                                    </div>
                                                    <div
                                                        class="d-flex align-sm-items-center justify-content-between w-100">
                                                        <div>
                                                            <h6 class="reviewer-name">Gunjan Puri</h6>
                                                            <ul class="rating-star">
                                                                <li>
                                                                    <i class="ri-star-fill star"></i>
                                                                </li>
                                                                <li>
                                                                    <i class="ri-star-fill star"></i>
                                                                </li>
                                                                <li>
                                                                    <i class="ri-star-fill star"></i>
                                                                </li>
                                                                <li>
                                                                    <i class="ri-star-fill star"></i>
                                                                </li>
                                                                <li>
                                                                    <i class="ri-star-fill star"></i>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div>
                                                            <h6>1 month ago</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="review-content">
                                                    <h6>Wonderful Experience...!!</h6>
                                                    <p>
                                                        Serve a healthy and good food. Having a parking
                                                        facility and there are also waiting area
                                                        available. These place is perfect for Celebration
                                                        of birthday. Serve a healthy and good food. Having
                                                        a parking facility and there are also waiting area
                                                        available.
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="review-box">
                                                <div class="review-head">
                                                    <div class="review-image">
                                                        <img class="img-fluid img" src="assets/images/icons/p5.png"
                                                            alt="p5">
                                                    </div>
                                                    <div
                                                        class="d-flex align-sm-items-center justify-content-between w-100">
                                                        <div>
                                                            <h6 class="reviewer-name">Gunjan Puri</h6>
                                                            <ul class="rating-star">
                                                                <li>
                                                                    <i class="ri-star-fill star"></i>
                                                                </li>
                                                                <li>
                                                                    <i class="ri-star-fill star"></i>
                                                                </li>
                                                                <li>
                                                                    <i class="ri-star-fill star"></i>
                                                                </li>
                                                                <li>
                                                                    <i class="ri-star-fill star"></i>
                                                                </li>
                                                                <li>
                                                                    <i class="ri-star-fill star"></i>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div>
                                                            <h6>1 month ago</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="review-content">
                                                    <h6>Wonderful Experience...!!</h6>
                                                    <p>
                                                        Serve a healthy and good food. Having a parking
                                                        facility and there are also waiting area
                                                        available. These place is perfect for Celebration
                                                        of birthday. Serve a healthy and good food. Having
                                                        a parking facility and there are also waiting area
                                                        available.
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="review-box">
                                                <div class="review-head">
                                                    <div class="review-image">
                                                        <img class="img-fluid img" src="assets/images/icons/p4.png"
                                                            alt="p4">
                                                    </div>
                                                    <div
                                                        class="d-flex align-sm-items-center justify-content-between w-100">
                                                        <div>
                                                            <h6 class="reviewer-name">Gunjan Puri</h6>
                                                            <ul class="rating-star">
                                                                <li>
                                                                    <i class="ri-star-fill star"></i>
                                                                </li>
                                                                <li>
                                                                    <i class="ri-star-fill star"></i>
                                                                </li>
                                                                <li>
                                                                    <i class="ri-star-fill star"></i>
                                                                </li>
                                                                <li>
                                                                    <i class="ri-star-fill star"></i>
                                                                </li>
                                                                <li>
                                                                    <i class="ri-star-fill star"></i>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div>
                                                            <h6>1 month ago</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="review-content">
                                                    <h6>Wonderful Experience...!!</h6>
                                                    <p>
                                                        Serve a healthy and good food. Having a parking
                                                        facility and there are also waiting area
                                                        available. These place is perfect for Celebration
                                                        of birthday. Serve a healthy and good food. Having
                                                        a parking facility and there are also waiting area
                                                        available.
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- tab section end -->

<script>
  console.log("Hi");
  console.log(document.querySelectorAll('.menu-btn'));
  
document.querySelectorAll('.menu-btn').forEach(button => {
  button.addEventListener('click', () => {
    // Remove active class from all buttons
    document.querySelectorAll('.menu-btn').forEach(btn => btn.classList.remove('active'));

    // Add active class to clicked button
    button.classList.add('active');

    // Hide all month contents
    document.querySelectorAll('.menu-content').forEach(content => content.classList.remove('active'));

    // Show the selected month's content
    const selectedMonth = button.getAttribute('data-menu');
    console.log(selectedMonth);
    
    document.getElementById(`menu-${selectedMonth}`).classList.add('active');
  });
});
</script>


{%endblock%}